<header class="header">
    <mat-toolbar color="primary">
        <span>KartVizit App</span>
        <span class="example-spacer"></span>
            <div class="header-menu">
                <ul>
                    <li>
                        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >Home</a>
                    </li>
                    <li>
                        <a routerLinkActive="active" routerLink="/about">About</a>
                    </li>
                    <li>
                        <a routerLinkActive="active" routerLink="/cards">KartVizitler</a>
                    </li>
                </ul>
            </div>
    </mat-toolbar>
      
</header>
